version: 2
updates:
  # Maintain pip dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
       dependencies:
          patterns:
            - "*"
    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"

  # Maintain Dockerfile base images
  - package-ecosystem: "docker"
    directory: "/deployment/dev"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(docker)"

  # Maintain GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci(deps)"
