name: Django CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          pip install flake8

      - name: Lint with flake8
        run: |
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 src --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t test-image -f deployment/dev/Dockerfile .

      - name: Run Tests in Docker
        env:
          DJANGO_SETTINGS_MODULE: config.django.test.test
          SECRET_KEY: dummy-secret-key
          VERSION: "TEST-VERSION"
        run: |
          docker run --rm \
            -e DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE \
            -e SECRET_KEY=$SECRET_KEY \
            -e VERSION=$VERSION \
            test-image \
            python manage.py test --settings=config.django.test.test